<div class="h-screen w-screen overflow-hidden flex flex-col">

  <ul class="bg-amber-50 h-fit overflow-hidden px-5 flex list-none justify-center pt-1">
    <li style="margin-right: 10px">
      <button
        style="padding: 5px 10px; background: cornflowerblue; color: azure; cursor: pointer"
        [routerLink]="['/']">
        Option 1
      </button>
    </li>
    <li style="margin-right: 10px">
      <button
        style="padding: 5px 10px; background: cornflowerblue; color: azure; cursor: pointer"
        [routerLink]="['/option-2']">
        Option 2
      </button>
    </li>
    <li style="margin-right: 10px">
      <button
        style="padding: 5px 10px; background: cornflowerblue; color: azure; cursor: pointer"
        [routerLink]="['/option-3']">
        Option 3
      </button>
    </li>
    <li style="margin-right: 10px">
      <button
        style="padding: 5px 10px; background: cornflowerblue; color: azure; cursor: pointer"
        [routerLink]="['/option-4']">
        Option 4
      </button>
    </li>
    <li style="margin-right: 10px">
      <button
        style="padding: 5px 10px; background: cornflowerblue; color: azure; cursor: pointer"
        [routerLink]="['/option-5']">
        Option 5
      </button>
    </li>
    <li style="margin-right: 10px">
      <button
        style="padding: 5px 10px; background: cornflowerblue; color: azure; cursor: pointer"
        [routerLink]="['/option-6']">
        Option 6
      </button>
    </li>
    <li style="margin-right: 10px">
      <button
        style="padding: 5px 10px; background: cornflowerblue; color: azure; cursor: pointer"
        [routerLink]="['/option-7']">
        Option 7
      </button>
    </li>
    <li style="margin-right: 10px">
      <button
        style="padding: 5px 10px; background: cornflowerblue; color: azure; cursor: pointer"
        [routerLink]="['/option-8']">
        Option 8
      </button>
    </li>
  </ul>

  <div class="w-full flex-grow overflow-none bg-amber-50">
      <router-outlet></router-outlet>
  </div>
</div>
